<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestV1">
	<test name="ApiTests">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- Basic ones -->
			<class name="com.trax.testCases.TC_GETRestAssureds" />
			<class name="com.trax.testCases.TC_POSTRestAssureds" />
		</classes>
	</test>
</suite>
